@{ ViewBag.Title = "Icon"; } 
@section scripts {
    <script>
        $(".demo-item--icon").addClass("active");
    </script>
}
<div class="main-containter">
	<p class="main-title">@ViewBag.Title</p>
	<div class="row">
        <div class="col-6 block">
            <div class="icon-01"></div>
            <div class="icon-02"></div>
            <div class="icon-03"></div>
            <div class="icon-04"></div>
            <div class="icon-05"></div>
            <div class="icon-06"></div>
            <div class="icon-07"></div>
            <div class="icon-08"></div>
            <div class="icon-09"></div>
            <div class="icon-10"></div>
            <br>
            <div class="icon-11"></div>
            <div class="icon-12"></div>
            <div class="icon-13"></div>
            <div class="icon-14"></div>
            <div class="icon-15"></div>
            <div class="icon-16"></div>
            <div class="icon-17"></div>
            <div class="icon-18"></div>
            <div class="icon-19"></div>
            <div class="icon-20"></div>
            <br>
            <div class="icon-21"></div>
            <div class="icon-22"></div>
            <div class="icon-23"></div>
            <div class="icon-24"></div>
            <div class="icon-25"></div>
            <div class="icon-26"></div>
            <div class="icon-27"></div>
            <div class="icon-28"></div>
            <div class="icon-29"></div>
            <div class="icon-30"></div>
            <br>
            <div class="icon-31"></div>
            <div class="icon-32"></div>
            <div class="icon-33"></div>
            <div class="icon-34"></div>
            <div class="icon-35"></div>
            <div class="icon-36"></div>
            <div class="icon-37"></div>
            <div class="icon-38"></div>
            <div class="icon-39"></div>
            <div class="icon-40"></div>
            <br>
            <div class="icon-41"></div>
            <div class="icon-42"></div>
            <div class="icon-43"></div>
            <div class="icon-44"></div>
            <div class="icon-45"></div>
            <div class="icon-46"></div>
            <div class="icon-47"></div>
            <div class="icon-48"></div>
            <div class="icon-49"></div>
            <div class="icon-50"></div>
            <br>
            <div class="icon-51"></div>
            <div class="icon-52"></div>
            <div class="icon-53"></div>
            <div class="icon-54"></div>
            <div class="icon-55"></div>
            <div class="icon-56"></div>
            <div class="icon-57"></div>
            <div class="icon-58"></div>
            <div class="icon-59"></div>
            <div class="icon-60"></div>
            <br><br>
            <img src="@Url.Content("~/Content/images/icons/img-01-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-02-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-03-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-04-m.svg")" alt="" class="img-decoration">
            <br>
            <img src="@Url.Content("~/Content/images/icons/img-05-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-06-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-07-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-08-m.svg")" alt="" class="img-decoration">
            <br>
            <img src="@Url.Content("~/Content/images/icons/img-09-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-10-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-11-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-12-m.svg")" alt="" class="img-decoration">
            <br>
            <img src="@Url.Content("~/Content/images/icons/img-13-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-14-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-15-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-16-m.svg")" alt="" class="img-decoration">
            <br>
            <img src="@Url.Content("~/Content/images/icons/img-17-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-18-m.svg")" alt="" class="img-decoration">
            <img src="@Url.Content("~/Content/images/icons/img-19-m.svg")" alt="" class="img-decoration">
        </div>
        <div class="col-6 block">
            <img src="@Url.Content("~/Content/images/icons/bg-gold.svg")" alt="" class="img-circle-gold">
            <img src="@Url.Content("~/Content/images/icons/bg-gold-50.svg")" alt="" class="img-circle-gold-50">
            <br>
            <img src="@Url.Content("~/Content/images/icons/bg-blue.svg")" alt="" class="img-circle-blue">
            <img src="@Url.Content("~/Content/images/icons/bg-blue-50.svg")" alt="" class="img-circle-blue-50">
            <br>
            <img src="@Url.Content("~/Content/images/icons/bg-green.svg")" alt="" class="img-circle-green">
            <img src="@Url.Content("~/Content/images/icons/bg-green-50.svg")" alt="" class="img-circle-green-50">
            <br>
            <img src="@Url.Content("~/Content/images/icons/bg-pink.svg")" alt="" class="img-circle-pink">
            <img src="@Url.Content("~/Content/images/icons/bg-pink-50.svg")" alt="" class="img-circle-pink-50">
        </div>
    </div>
</div>

