
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Footer_Demo1</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="message-containter">
        <div class="message left">
            <div class="message--icon" style="background-image: url('@Url.Content("~/Content/demo-img/a46be69c61165a04fccc2069c98c31fd.png")');"></div>
            <div class="message--text">
                <p class="name">Name </p>
                <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ipsam assumenda modi facilis qui, dolorum a accusantium, deleniti impedit, dignissimos veritatis iste voluptates labore rerum aut asperiores consequatur velit quasi.</div>
                <div class="info">
                    <p class="info--read">已讀</p>
                    <p class="info--time">yyyy:mm:dd:ss</p>
                </div>
            </div>
        </div>
        <div class="message right">
            <div class="message--text">
                <p class="name">Name </p>
                <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ipsam assumenda modi facilis qui, dolorum a accusantium, deleniti impedit, dignissimos veritatis iste voluptates labore rerum aut asperiores consequatur velit quasi.</div>
                <div class="info">
                    <p class="info--read">已讀</p>
                    <p class="info--time">yyyy:mm:dd:ss</p>
                </div>
            </div>
            <div class="message--icon" style="background-image: url('@Url.Content("~/Content/demo-img/a46be69c61165a04fccc2069c98c31fd.png")');"></div>
        </div>
        <div class="message left">
            <div class="message--icon" style="background-image: url('@Url.Content("~/Content/demo-img/a46be69c61165a04fccc2069c98c31fd.png")');"></div>
            <div class="message--text">
                <p class="name">Name </p>
                <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ipsam assumenda modi facilis qui, dolorum a accusantium, deleniti impedit, dignissimos veritatis iste voluptates labore rerum aut asperiores consequatur velit quasi.</div>
                <div class="info">
                    <p class="info--read">已讀</p>
                    <p class="info--time">yyyy:mm:dd:ss</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
